// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"hjemmegron": $green-600,
	"trykknapgron": $green-800,
	"hjemmeside": adjust-color(#a4f1bd),
	"cardfarve": adjust-color(#e1cfaa),
	"grundfarve": adjust-color(#3cb371)
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.home{
	font-size: 25px;
	;
}

.forsideknap {
	background-color: transparent;
}

.forsideknap img {
	width: 100px;
	height: 100px;
}
